/* font-style weight size/line-height font */
.--flex {
  display: flex;
}
.--ii-center {
  align-items: center;
}
.--jc-center {
  justify-content: center;
}
.--jc-s-between {
  justify-content: space-between;
}
.--f-wrap{
  flex-wrap: wrap;
}
.--f-wrap-r {
  flex-wrap: wrap-reverse;
}
.--fd-column {
  flex-direction: column;
}
.--bs-b-box {
  box-sizing: border-box;
}
.--m-0 {
  margin: 0;
}


/* Contact form */
.contact {
  min-height: 51.31rem;
  padding: 1.5rem;
  row-gap: 1.5rem;
}
.contact__breadcrumb {
  height: 1.06rem;
}
.contact__breadcrumb-text {
  font: normal 400 0.75rem/1.05rem var(--geist-family);
  color: var(--bread-font);
  transition: all 200ms ease-in-out;
}
.--strong-clr {
  color: var(--icon--fill-clr-2);
}
.contact__breadcrumb-arrow-cont {
  height: 16px;
  width: 16px;
}
.contact__breadcrumb-arrow {
  fill: none;
  height: 5.66px;
  width: 3.77px;
}
.contact__breadcrumb-arrow path {
  fill: var(--bread-font);
  height: 5.66px;
  width: 3.77px;
}

/* contact Group */
.contact__group-cont {
  height: fit-content;
  row-gap: 1.5rem;
}
.contact__header-cont {
  height: 6rem;
  height: fit-content;
}
.contact__header-title {
  font: normal 600 2.5rem/3rem var(--geist-family);
  text-align: center;
  color: var(--menu-title-clr);
  transition: all 200ms ease-in-out;
}
.contact__header-description {
  font: normal 400 1rem/1.4rem var(--geist-family);
  text-align: center;
  color: var(--lang-fonts-clr);
  transition: all 200ms ease-in-out;
}


/* Form ----------------------------------*/
.contact__form-cont {
  width: 100%;
  height: fit-content;
  gap: 1.5rem;
}
.contact__form-sub-cont {
  width: 100%;
  border: 1px solid var(--border-clr);
  border-radius: 1.5rem;
  padding: 24px;
  row-gap: 1.5rem;
  box-sizing: border-box;
}
.contact__form-header {
  height: fit-content;
}
.contact__form-title {
  font: normal 500 1.25rem/1.5rem var(--geist-family);
  color: var(--menu-title-clr);
  transition: all 200ms ease-in-out;
}
.contact__form-description {
  font: normal 400 0.875rem/1.225rem var(--geist-family);
  color: var(--bread-font);
  transition: all 200ms ease-in-out;
}
.form {
  gap: 24px;
}

/* input structure -----------------*/
.form__group {
  position: relative;
  width: 100%;
  /* min-height: 3.5rem; */
  height: fit-content;
  row-gap: 4px;
  /* border: 1px solid red; */
}
.form__group-label {
  padding: 0 4px;
  font: normal 500 0.625rem/0.75rem var(--geist-family);
  color: var(--lang-fonts-clr);
  transition: all 200ms ease-in-out;
}
.form__group-input-icon {
  position: absolute;
  left: 0.625rem;
  top: 1.7rem;
  height: 16px;
  width: 16px;
  fill: none;
  & path { /* child */
    fill: var(--icon--fill-clr-2);
  }
}
.form__group-input{
  padding: 0 12px;
  width: 100%;
  min-height: 2.5rem;
  padding: 10px 10px 10px 30px;
  border: 1px solid var(--border-clr);
  border-radius: 0.375rem;
  background-color: transparent;
  font: normal 400 0.875rem/1.225rem var(--geist-family);
  color: var(--icon--fill-clr-2);
  transition: all 200ms ease-in-out;
  &:focus  { /* it self */
    outline: none !important; /* Remove default values*/
    border: 1px solid var(--border-focus-clr); /*set new border style*/
    transition: all 200ms ease-in-out;
  }
  &:-webkit-autofill { /* This is used to set styles of previously used options pop up*/
    -webkit-box-shadow: 0 0 0px 1000px var(--back-ground) inset;
    -webkit-text-fill-color: var(--icon--fill-clr-2);
    transition: all 200ms ease-in-out;
  }
  /* &:valid{
    background-color: red;
  }
  &:not(:valid){
    background-color: blue;
  } */
}
.--text-area{
  resize: none;
  padding: 10px;
}
.--h-custom {
  height: 5.75rem;
}
.form__button {
  padding: 0.625rem 0.75rem;
  width: 5.25rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  color: var(--contact-font-clr);
}
.--primary{
  background-color: var(--bg-button-banner);
  width: 6.1rem;
  gap: 0;
  border: none;
}
.--primary:hover{
  background-color: var(--green-500);
  box-shadow: 4px 4px 15px 0px rgba(38, 145, 106, 0.3); /* x y blur radius */
}
.--primary:active{
  background-color: var(--green-600);
}


/* Image */
.contact__form-img {
  width: 60%;
  height: auto;
  object-fit: cover;
}

/* Aside content ----------------------------- */
.contact__info-cont {
  width: 100%;
  row-gap: 1.5rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
  border: none;
  background-color: var(--sign-in-clr);
  transition: all 200ms ease-in-out;
}
.contact__info-group {
  width: 100%;
  row-gap: 4px;
}
.contact__info-title {
  /* font-style weight size/line-height font */
  font: normal 500 1.25rem/1.5rem var(--geist-family);
  color: var(--aside-fnt-clr-01);
  transition: all 200ms ease-in-out;
  & span { /* child */
    transition: all 200ms ease-in-out;
    color: var(--aside-fnt-clr-02);
  }
}
.contact__info-description {
  font: normal 400 0.87rem/1.1225rem var(--geist-family);
  color: var(--aside-bg-footer);
  transition: all 200ms ease-in-out;
}

/* icons */
.contact__info-links-cont {
  flex: 1; /*100%*/
  height: 100%;
}
.contact__icons-cont {
  width: 9rem;
  height: 2.5rem;
  gap: 0.75rem;
}
.contact__icon-bg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.375rem;
  background-color: var(--back-ground);
  transition: all 200ms ease-in-out;
}
.contact__icon {
  fill: none;
  width: 1.2rem;
  height: 1.3rem;
  & path {
    fill:var(--menu-bt-clr);
  }
}

@media screen and (min-width: 1127px) {
  /* Contact form */
  .contact {
    height: 51.31rem;
    padding: 1.5rem;
    row-gap: 1.5rem;
  }
  .contact__breadcrumb {
    height: 1.06rem;
    width: 70.18rem;
  }
  /* contact Group */
  .contact__group-cont {
    width: 70.18rem;
    height: 47.25rem;
  }
  .contact__header-cont {
    width: 29.125rem;
    height: 6rem;
  }
  .contact__form-cont {
    gap: 1.1rem;
  }
  .contact__form-sub-cont {
    width: 46.31rem;
    height: 28.25rem;
  }
  .--w-custom {
    width: 48%;
  }

  .contact__form-img {
    width: 22.43rem;
    height: 28.25rem;
  }

  /* Aside content */
  .contact__info-cont {
    height: 10rem;
  }
  .contact__icon {
    width: 1rem;
    height: 1rem;
  }
}
