<section class="contact --flex --fd-column --ii-center">

  <article class="contact__breadcrumb --flex --bs-b-box --f-wrap">
    <p class="contact__breadcrumb-text --m-0">Home</p>
    <article class="contact__breadcrumb-arrow-cont --flex --ii-center --jc-center --bs-b-box">
      <svg class="contact__breadcrumb-arrow --flex --bs-b-box"
      viewBox="0 0 5 7" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.61439 3.50033L0.72876 1.61469L1.67159 0.671875L4.49999 3.50033L1.67159 6.32873L0.72876 5.38593L2.61439 3.50033Z"/>
      </svg>
    </article>
    <p class="contact__breadcrumb-text --m-0 --primary">Contact us</p>
  </article>

  <section class="contact__group-cont --flex --fd-column --ii-center">

    <!-- Header -->
    <header class="contact__header-cont --flex --fd-column --ii-center --f-wrap">
      <h1 class="contact__header-title --m-0 --f-wrap">Contact us</h1>
      <p class="contact__header-description --m-0 --f-wrap">Have questions? Need support? Get in touch with us and our team will be happy to assist you.</p>
    </header>

    <!-- Form Structure -->
    <section class="contact__form-cont --flex --f-wrap-r --jc-center --bs-b-box">
      <form class="contact__form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

        <!-- name field -->
        <div class="form__group --flex --fd-column">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            placeholder="Name"
            required
          />
          <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="error">
            Name is required.
          </div>
        </div>

        <div class="form__group --flex --fd-column">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="Email"
            required />
          <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="error">
            Valid email is required.
          </div>
        </div>

        <div class="form__group --flex --fd-column">
          <label for="contactReason">Contact Reason</label>
          <select id="contactReason" formControlName="contactReason" required>
            <option value="Sales Inquiry">Sales Inquiry</option>
            <option value="Technical Support">Technical Support</option>
            <option value="Partnership Opportunities">Partnership Opportunities</option>
            <option value="Other">Other</option>
          </select>
          <div *ngIf="contactForm.get('contactReason')?.invalid && contactForm.get('contactReason')?.touched" class="error">
            Please select a contact reason.
          </div>
        </div>

        <div class="form__group --flex --fd-column">
          <label for="message">Message</label>
          <textarea
            id="message"
            formControlName="message"
            placeholder="Message"
            required></textarea>
          <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="error">
            Message is required.
          </div>
        </div>

        <button type="submit" [disabled]="contactForm.invalid">Send</button>

      </form>
      <img class="contact__form-img" src="assets/images/form-img.png" alt="pc-form-image">
    </section>

    <section class="contact__info-cont">
      <article class="contact__info-group">
        <h6 class="contact__info-title">Or also follow us on our <span>corporate networks</span></h6>
        <p class="contact__info-description">Stay connected with Greenspec! Follow us on our social channels for the latest updates, industry insights, and product innovations.</p>
      </article>
      <section class="contact__info-links-cont">
        <section class="contact__icons-cont">
          <article class="contact__icon-bg">
            svg...
          </article>
        </section>
      </section>
    </section>

  </section>
</section>


