<section class="insights --flex --jc-center --ii-center --bs-b-box">

  <section class="insights__card-cont --flex --jc-center --ii-center --bs-b-box --f-wrap">

    <article class="insights__info-cont --flex --fd-column --ii-center --jc-center">
      <h3 class="insights__title --flex --jc-center --ii-center --style-title">+20</h3>
      <p class="insights__description --flex --jc-center --ii-center --style-description">Countries with distributors</p>
    </article>
    <article class="insights__info-cont --flex --fd-column --ii-center --jc-center">
      <h3 class="insights__title --flex --jc-center --ii-center --style-title">+100</h3>
      <p class="insights__description --flex --jc-center --ii-center --style-description">GreenHouses automated</p>
    </article>
    <article class="insights__info-cont --flex --fd-column --ii-center --jc-center">
      <h3 class="insights__title --flex --jc-center --ii-center --style-title">+15</h3>
      <p class="insights__description --flex --jc-center --ii-center --style-description">Years of expertise</p>
    </article>
  </section>

</section>
