<section class="gallery">
  <!-- Background -->
  <article class="gallery__3d-container">
    <img src="assets/vectors/3d-lines.png" alt="vectors-image" class="gallery__3d-vector">
  </article>
  <svg class="gallery__bg-gradient" fill="none" xmlns="http://www.w3.org/2000/svg">
    <ellipse opacity="0.4" cx="757" cy="206" rx="1440" ry="206" fill="url(#paint0_radial_166_1762)"/>
    <defs>
    <radialGradient id="paint0_radial_166_1762" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(757 206) rotate(90) scale(206 1440)">
    <stop stop-color="#4BE196"/>
    <stop offset="0.895" stop-color="#4BE196" stop-opacity="0"/>
    </radialGradient>
    </defs>
  </svg>

  <!-- Content -->
  <section class="gallery__container">

    <section class="header">
      <article class="header__group">
        <section class="header__icon-cont">
          <svg class="header__icon" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 18V2H2V17C2 17.5523 2.44772 18 3 18H14ZM17 20H3C1.34315 20 0 18.6569 0 17V1C0 0.44772 0.44772 0 1 0H15C15.5523 0 16 0.44772 16 1V8H20V17C20 18.6569 18.6569 20 17 20ZM16 10V17C16 17.5523 16.4477 18 17 18C17.5523 18 18 17.5523 18 17V10H16ZM4 4H10V10H4V4ZM6 6V8H8V6H6ZM4 11H12V13H4V11ZM4 14H12V16H4V14Z"/>
          </svg>
        </section>
        <h3 class="header__title">Latest Innovation & Insights</h3>
      </article>

      <article class="header__filter-cont">
        <!-- <svg class="header__filter-icon"></svg> -->
        <p class="header__filter-name">Today</p>
        <!-- <svg class="header__filter-arrow"></svg> -->
      </article>
    </section>

    <!-- <section class="gallery__sub-cont">

      <article class="card">
        <section class="card__header">
          <img src="" alt="" class="card__img">
          <article class="card__tag-cont">
            <img src="" alt="" class="card__icon">
            <p>Technology</p>
          </article>
        </section>
        <h5 class="card__title">Greenspec's Gateway to Innovation</h5>
        <p class="card__description">Lorem ipsum dolor sit amet consectetur. Porttitor est mauris curabitur pellentesque.</p>
        <button class="button">
          <p class="button__name">Read more</p>
        </button>
      </article>

    </section> -->
  </section>

</section>
