.--flex {
  display: flex;
}
.gallery {
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3.62rem 2rem;
  align-items: center;
  min-height: 30rem;
  box-sizing: border-box !important;
}
.gallery__3d-container {
  z-index: -1;
  position: absolute;
  align-items: flex-end;
  width: 100%;
  top: 15rem;
  height: auto;
  box-sizing: border-box;
}
.gallery__3d-vector {
  width: 100%;
  height: 100%;
}
.gallery__bg-gradient {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 25.75rem;
  fill: none;
  box-sizing: border-box;
}
.gallery__container {
  position: relative;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 2rem;
  min-height: fit-content;
  box-sizing: border-box;
}

.header {
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  gap: 1rem;
  align-items: flex-start;
  min-height: 2.5rem;
}
.header__group {
  align-items: flex-start;
  height: inherit;
  gap: 1.1875rem;
  box-sizing: border-box;
}
.header__icon-cont {
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
  height: 0.625rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: var(--icon-bg-clr);
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
}
.header__icon {
  width: 1.25rem;
  height: 1.25rem;
}
.header__icon path {
  fill: var(--icon-fill-clr);
}
.header__title {
  margin: 0;
  font-family: var(--geist-family);
  font-weight: 600;
  font-size: 2em;
  text-align: left;
  line-height: 2.4rem;
  color: var(--menu-title-clr);
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
}
.header__filter-cont {
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 6.62rem;
  height: 2rem;
  border-radius: 3.75rem;
  background-color: var(--back-ground);
  border: 1px solid var(--border-clr);
  box-sizing: border-box;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.header__filter-icon-cont {
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
}
.header__filter-icon {
  width: 0.6875rem;
  height: 0.6875rem;
  fill: none;
}
.header__filter-icon path {
  fill: var(--icon-fill-clr);
}
.header__filter-name {
  margin: 0;
  font-family: var(--geist-family);
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--lang-fonts-clr);
}
.header__arrow-cont {
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
}
.header__arrow {
  position: absolute;
  width: 0.353rem;
  height: 0.235rem;
  fill: none;
}
.header__arrow path {
  fill: var(--icon--fill-clr-2);
}

/* Cards section */
.gallery__sub-cont {
  justify-content: flex-start;
  max-width: 15rem;
  min-height: fit-content;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  gap: 1.5rem;
  box-sizing: border-box;
}
app-card {
  margin: 0;
  box-sizing: border-box;
}
 /*Arrow styles */
 .arrow-slider {
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  top: 16rem;
  right: 0rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--back-ground);
  border: 1px solid var(--border-clr);
  transition: all 200ms ease-in-out;
}
.arrow-slider__icon {
  fill: var(--arrow-clr);
}
.arrow-slider:hover {
  background-color: var(--green-50);
  border: 1px solid var(--green-200);
}
.arrow-slider:active {
  background-color: var(--green-200);
  border: 1px solid var(--green-200);
}
.arrow-slider:hover path,
.arrow-slider:active path {
  fill: var(--green-900);
}
.arrow-slider__icon {
  height: 0.648rem;
  width: 0.666rem;
}
.--left-arrow {
  right: none;
  left: 0rem;
}
.--left-arrow .arrow-slider__icon{
  transform: rotate(180deg);
}




