<nav class="navbar">

  <!-- Icon container/ Mobile version -->
  @if(!helperReturnState){
    <article #iconContainer class="navbar__icon-container">
      <img src="assets/images/logo-greenspec.png" alt="navbar__icon" class="navbar__icon">
    </article>
  }@else{
    <article #iconContainer class="navbar__return-group" (click)="returnHelper(false)">
      <svg class="navbar__arrow-container" xmlns="http://www.w3.org/2000/svg">
        <path class="navbar__arrow-icon" d="M3.21885 6.66673L6.79485 10.2427L5.85205 11.1855L0.666585 6.00007L5.85205 0.814667L6.79485 1.75747L3.21885 5.3334L11.3333 5.3334L11.3333 6.66673L3.21885 6.66673Z"/>
      </svg>
      <p class="navbar__return-title">Back</p>
    </article>
  }
  <section class="navbar__buttons-container" >
    <!-- Toggle container -->
    <article class="navbar__toggle-container" (click)="toggleDarkMode(1)">
      <div #buttonActive class="navbar__toggle-button --active">
        <img class="navbar__toggle-img" src="assets/vectors/navbar__button-sun--light.png" alt="">
      </div>
      <div class="navbar__toggle-background">
        <img class="navbar__toggle-img --small" src="assets/vectors/navbar__button-sun.png" alt="">
      </div>
      <div class="navbar__toggle-background">
        <img class="navbar__toggle-img --small" src="assets/vectors/navbar__button-moon.png" alt="moon-button-icon">
      </div>
    </article>

    <svg class="navbar__menu-container" viewBox="0 0 18 16" xmlns="http://www.w3.org/2000/svg" (click)="toggleMenu($event)">
      <path #menuBUtton class="navbar__menu-button" d="M0 0H18V2H0V0ZM0 7H18V9H0V7ZM0 14H18V16H0V14Z"/>
    </svg>

  </section>

  <!-- Desktop version -->
  <section class="navbar__navigation-group">

    <article class="navbar__pages-group">
      <img src="assets/images/logo-greenspec.png" alt="navbar__icon" class="navbar__icon">

      <section class="pages">
        <button class="pages__option" [routerLink]="['/home']" routerLinkActive="router-link-active">
          <img src="assets/vectors/menu__option-icon-home.png"
          alt="home-icon" class="pages__option-icon">
          <h3 class="pages__option-title">Home</h3>
        </button>
        <button class="pages__option" [routerLink]="['/solutions']" routerLinkActive="router-link-active">
          <img src="assets/vectors/menu__option-icon-solutions.png"
          alt="home-icon" class="pages__option-icon">
          <h3 class="pages__option-title">Solutions</h3>
        </button>
        <button class="pages__option" [routerLink]="['/about-us']" routerLinkActive="router-link-active">
          <img src="assets/vectors/menu__option-icon-about.png"
          alt="home-icon" class="pages__option-icon">
          <h3 class="pages__option-title">About us</h3>
        </button>

        <article class="pages__option" (click)="toggleProductsDesk()">
          <img src="assets/vectors/menu__option-icon-products.png"
          alt="home-icon" class="pages__option-icon">
          <h3 class="pages__option-title">Our products</h3>
          <svg #arrowProducts class="menu__option-row" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="menu__option-row" d="M4.99976 6.0006L0.75708 1.758L2.1713 0.34375L4.99976 3.1722L7.82816 0.34375L9.24236 1.758L4.99976 6.0006Z" fill="#171717"/>
          </svg>
        </article>

        <section #dropProductsDesk class="pages__drop-cont">
            <article class="pages__drop-item">Soil sensors</article>
            <article class="pages__drop-item">Climate sensors</article>
            <article class="pages__drop-item">loT Sensors</article>
            <article class="pages__drop-item">Water sensors</article>
            <article class="pages__drop-item">Hardware.</article>
        </section>

        <article class="pages__option" (click)="toggleKnowledgeDesk()">
          <img src="assets/vectors/menu__option-icon-knowledge.png"
          alt="home-icon" class="pages__option-icon">
          <h3 class="pages__option-title">Knowledge hub</h3>
          <svg #arrowKnowledge class="menu__option-row" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="menu__option-row" d="M4.99976 6.0006L0.75708 1.758L2.1713 0.34375L4.99976 3.1722L7.82816 0.34375L9.24236 1.758L4.99976 6.0006Z" fill="#171717"/>
          </svg>
        </article>

        <section #dropKnowledgeDesk class="pages__drop-cont --alt-position-k">
          <article class="pages__drop-item">News</article>
          <article class="pages__drop-item">Manual guides</article>
          <article class="pages__drop-item">Case studies</article>
        </section>
      </section>
    </article>

    <article class="menu__functions-container --gap">

      <article class="menu__toggle-lang">
        <img src="assets/vectors/menu__function-icon.png" alt="language-icon" class="menu__toggle-lang-icon">
        <select class="menu__function-selector">
          <option value="EN" class="menu__selector-option">EN</option>
          <option value="ES" class="menu__selector-option">ES</option>
        </select>
      </article>

      <button class="navbar__toggle-container" (click)="toggleDarkMode(2)">
        <div #buttonActiveDesk class="navbar__toggle-button --active">
          <img class="navbar__toggle-img" src="assets/vectors/navbar__button-sun--light.png" alt="">
        </div>
        <div class="navbar__toggle-background">
          <img class="navbar__toggle-img --small" src="assets/vectors/navbar__button-sun.png" alt="">
        </div>
        <div class="navbar__toggle-background">
          <img class="navbar__toggle-img --small" src="assets/vectors/navbar__button-moon.png" alt="moon-button-icon">
        </div>
      </button>

      <section class="menu__buttons-group">
        <button class="menu__button --secondary">
           <article class="menu__button-icon-cont">
             <svg class="menu__button-icon" viewBox="0 0 12 15" xmlns="http://www.w3.org/2000/svg">
               <path d="M11.3332 14.6665H9.99984V13.3332C9.99984 12.2286 9.10444 11.3332 7.99984 11.3332H3.99984C2.89527 11.3332 1.99984 12.2286 1.99984 13.3332V14.6665H0.666504V13.3332C0.666504 11.4922 2.15889 9.99984 3.99984 9.99984H7.99984C9.84077 9.99984 11.3332 11.4922 11.3332 13.3332V14.6665ZM5.99984 8.6665C3.7907 8.6665 1.99984 6.87564 1.99984 4.6665C1.99984 2.45736 3.7907 0.666504 5.99984 0.666504C8.20897 0.666504 9.99984 2.45736 9.99984 4.6665C9.99984 6.87564 8.20897 8.6665 5.99984 8.6665ZM5.99984 7.33317C7.47257 7.33317 8.6665 6.13926 8.6665 4.6665C8.6665 3.19374 7.47257 1.99984 5.99984 1.99984C4.52708 1.99984 3.33317 3.19374 3.33317 4.6665C3.33317 6.13926 4.52708 7.33317 5.99984 7.33317Z"/>
             </svg>
           </article>
          <h3 class="menu__button-title">Sign in</h3>
        </button>

        <button class="menu__button --action" [routerLink]="['/contact']" routerLinkActive="router-link-active">
          <h3 class="menu__button-title --black">Contact us</h3>
        </button>
      </section>
    </article>

  </section>
</nav>

<!-- Mobile menu -->
<menu #menuList class="menu --visibility">

  <article class="menu__functions-container">
    <article class="menu__toggle-lang">
      <img src="assets/vectors/menu__function-icon.png" alt="language-icon" class="menu__toggle-lang-icon">
      <select class="menu__function-selector">
        <option value="EN" class="menu__selector-option">EN</option>
        <option value="ES" class="menu__selector-option">ES</option>
      </select>
    </article>

    <section class="menu__buttons-group">
      <article class="menu__button" (click)="returnHelper(true)">
        <article class="menu__button-icon-cont">
          <svg class="menu__button-icon"  viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.3332 14.6665H9.99984V13.3332C9.99984 12.2286 9.10444 11.3332 7.99984 11.3332H3.99984C2.89527 11.3332 1.99984 12.2286 1.99984 13.3332V14.6665H0.666504V13.3332C0.666504 11.4922 2.15889 9.99984 3.99984 9.99984H7.99984C9.84077 9.99984 11.3332 11.4922 11.3332 13.3332V14.6665ZM5.99984 8.6665C3.7907 8.6665 1.99984 6.87564 1.99984 4.6665C1.99984 2.45736 3.7907 0.666504 5.99984 0.666504C8.20897 0.666504 9.99984 2.45736 9.99984 4.6665C9.99984 6.87564 8.20897 8.6665 5.99984 8.6665ZM5.99984 7.33317C7.47257 7.33317 8.6665 6.13926 8.6665 4.6665C8.6665 3.19374 7.47257 1.99984 5.99984 1.99984C4.52708 1.99984 3.33317 3.19374 3.33317 4.6665C3.33317 6.13926 4.52708 7.33317 5.99984 7.33317Z"/>
          </svg>
        </article>
        <h3 class="menu__button-title">Sign in</h3>
      </article>

      <article class="menu__button --action" (click)="returnHelper(true)" [routerLink]="['/contact']" routerLinkActive="router-link-active">
        <h3 class="menu__button-title --black">Contact us</h3>
      </article>
    </section>
  </article>

  <section class="group-option">
    <article class="menu__option" [routerLink]="['/home']" routerLinkActive="router-link-active" (click)="hideMenu()">
      <img src="assets/vectors/menu__option-icon-home.png" alt="home-icon" class="menu__option-icon">
      <h3 class="menu__option-title">Home</h3>
    </article>

    <article class="menu__option" [routerLink]="['/solutions']" routerLinkActive="router-link-active" (click)="returnHelper(true)">
      <img src="assets/vectors/menu__option-icon-solutions.png" alt="" class="menu__option-icon">
      <h3 class="menu__option-title">Solutions</h3>
    </article>

    <article class="menu__option" [routerLink]="['/about-us']" routerLinkActive="router-link-active" (click)="returnHelper(true)">
      <img src="assets/vectors/menu__option-icon-about.png" alt="" class="menu__option-icon">
      <h3 class="menu__option-title">About us</h3>
    </article>

    <!-- Toggle products -->
    <section class="menu__option-sub-container">
       <article class="menu__option --no-gap" (click)="toggleProductsMenu($event)">
         <section class="menu__option-group">
           <img src="assets/vectors/menu__option-icon-products.png" alt="products-icon" class="menu__option-icon">
           <h3 class="menu__option-title">Our products</h3>
         </section>
          <svg #arrowProducts class="menu__option-row" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="menu__option-row" d="M4.99976 6.0006L0.75708 1.758L2.1713 0.34375L4.99976 3.1722L7.82816 0.34375L9.24236 1.758L4.99976 6.0006Z" fill="#171717"/>
          </svg>
       </article>
       <section #dropProducts class="menu__option-drop-container">
         <article class="menu__drop-item" (click)="returnHelper(true)">Soil sensors</article>
         <article class="menu__drop-item" (click)="returnHelper(true)">Climate sensors</article>
         <article class="menu__drop-item" (click)="returnHelper(true)">loT sensors</article>
         <article class="menu__drop-item" (click)="returnHelper(true)">Water sensors</article>
         <article class="menu__drop-item" (click)="returnHelper(true)">Hardware</article>
       </section>
    </section>

    <!-- Toggle Knowledge Hub -->
    <section class="menu__option-sub-container">
      <article class="menu__option --no-gap" (click)="toggleKnowledgeMenu($event)">
        <section class="menu__option-group">
          <img src="assets/vectors/menu__option-icon-knowledge.png" alt="icon-knowledge" class="menu__option-icon">
          <h3 class="menu__option-title">Knowledge hub</h3>
        </section>
        <svg #arrowKnowledge class="menu__option-row" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="menu__option-row" d="M4.99976 6.0006L0.75708 1.758L2.1713 0.34375L4.99976 3.1722L7.82816 0.34375L9.24236 1.758L4.99976 6.0006Z" fill="#171717"/>
        </svg>
      </article>
      <section #dropKnowledge class="menu__option-drop-container">
        <article class="menu__drop-item" (click)="returnHelper(true)">News</article>
        <article class="menu__drop-item" (click)="returnHelper(true)">Manual guides</article>
        <article class="menu__drop-item" (click)="returnHelper(true)">Case studies</article>
      </section>
   </section>
  </section>

</menu>
