.navbar{
  position: relative;
  z-index: 1000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82px;
  padding: 1.688rem 1.25rem;
  border-bottom: 1.5px solid var(--border-clr);
  box-sizing: border-box;
  transition: all 500ms ease-in-out;
  background-color: var(--back-ground);
}
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.navbar__navigation-group{
  display: none;
}
.navbar__icon-container{
  width: 7.063rem;
  animation: fadeIn 200ms ease-in-out;
}
.navbar__icon{
  width: 100%;
  height: auto;
}
.navbar__return-group{
  display: flex;
  align-items: center;
  height: 24px;
  width: 84px;
  padding: 3.5px 12px;
  box-sizing: border-box;
  gap: 10px;
  animation: fadeIn 200ms ease-in-out;
}
.navbar__arrow-container{
  width: 10.67px;
  height: 10.37px;
  box-sizing: border-box;
}
.navbar__arrow-icon{
  width: 10.67px;
  height: 10.37px;
  fill: var(--return-arrow-clr);
}
.navbar__return-title{
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
  font-family: var(--geist-family);
  color: var(--return-arrow-clr);
}
.navbar__buttons-container{
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.navbar__toggle-container{
  display: flex;
  justify-content: space-between;
  width: 4.125rem;
  border:0.8px solid var(--border-clr);
  border-radius: 50px;
  cursor: pointer;
}
.navbar__toggle-button{
  display: flex;
  place-content: center;
  align-items: center;
  height: 28px;
  width: 38px;
  border-radius: 110px;
  background-color: var(--gray-800);
  box-sizing: content-box;
  transition:
    transform 200ms ease-in-out;
}
.navbar__toggle-img{
  width: 0.917rem;
  height: 0.917rem;
}
.--active{
  position: absolute;
}
.--movement{
  transform: translateX(1.8rem);
}
.--position-active{
  transform: translateX(1.8rem);
}

.navbar__toggle-background{
  display: flex;
  place-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  border-radius: 110px;
  background-color: var(--back-ground);
  transition: all 500ms ease-in-out;
  box-sizing: content-box;
}
.--small{
  width: 0.625rem;
  height: 0.625rem;
}
/* Button menu */
.navbar__menu-container{
  height: 16px;
  width: 18px;
}
.navbar__menu-button{
  fill: var(--menu-bt-clr);
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1120px) {
  /* reset mobile configuration */
  .navbar__buttons-container,
  .menu,
  .navbar__icon-container,
  .navbar__return-group{
    display: none;
  }

  /* Desktop configuration*/
  .navbar{
    position: relative;
    display: flex;
    justify-content: center;
  }
  .navbar__navigation-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70.25rem;
    height: 2.5rem;
    box-sizing: border-box;
  }

  .navbar__pages-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    box-sizing: border-box;
  }
  .navbar__icon{
    width: 9.375rem;
    height: 1.693rem;
  }
  .pages{
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    box-sizing: border-box;
  }
  .pages__option{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 2rem;
    gap: 4px;
    padding: 0 8px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 60px;
    transition: all 200ms ease-in-out;
    /* border: 1px solid red; */
  }
  .pages__option:hover{
    background-color: var(--active-menu-clr);
  }
  .pages__option-icon{
    width: 0.917rem;
    height: 0.819rem;
  }
  .pages__option-title{
    margin: 0;
    font-family: var(--geist-family);
    color: var(--menu-title-clr);
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.05rem;
    transition: all 200ms ease-in-out;
  }
  .pages__drop-cont{
    scale: 0;
    position: absolute;
    /* display: none; */
    width: 0;
    height: 0;
    left: 15.5rem;
    top: 2.5rem;
    opacity: 0;
    transition: all 200ms ease-in-out allow-discrete;
    &.--active-d{
      position: absolute;
      display: flex;
      flex-direction: column;
      scale: 1;
      opacity: 1;
      padding: 4px;
      width: 13.75rem;
      height: 11.75rem;
      background-color: var(--back-ground);
      border: 1px solid var(--border-clr);
      border-radius: 4px;
    }
  }
  .--alt-position-k{
    left: 23.2rem;
  }
  .--active-d-k{
    position: absolute;
    display: flex;
    flex-direction: column;
    scale: 1;
    opacity: 1;
    padding: 4px;
    width: 13.75rem;
    height: 7.25rem;
    background-color: var(--back-ground);
    border: 1px solid var(--border-clr);
    border-radius: 4px;
  }
  .pages__drop-item{
    padding: 8px 10px;
    height: 36px;
    cursor: pointer;
    color: var(--drop-item-clr);
    font-family: var(--geist-family);
    font-size: 0.875rem ;
    transition: all 200ms ease-in-out;
  }
  .pages__drop-item:hover{
    background-color: var(--active-menu-clr);
  }

}





