<article class="card">

  <section class="card__header">
    <img src="assets/images/card__image-01.png" alt="" class="card__img">
    <article class="category">
      <svg class="category__icon" viewBox="0 0 3 5" xmlns="http://www.w3.org/2000/svg">
        <circle cx="2" cy="2.58252" r="2"/>
      </svg>
      <p class="category__text">Technology</p>
    </article>
  </section>

  <h5 class="card__title">
    Greenspec's Gateway to Innovation
  </h5>
  <p class="card__description">
    Lorem ipsum dolor sit amet consectetur. Porttitor est mauris curabitur pellentesque.
  </p>

  <button class="button">
    <p class="button__name">Read more</p>
  </button>

</article>
