<article class="card">

  <section class="card__header">
    <img src="assets/images/card__image-01.png" alt="" class="card__img">
    <article class="category">
      <svg class="category__icon" viewBox="0 0 3 5" xmlns="http://www.w3.org/2000/svg">
        <circle cx="2" cy="2.58252" r="2"/>
      </svg>
      <p class="category__text">{{info.category}}</p>
    </article>
  </section>

  <h5 class="card__title">
    {{info.title}}
  </h5>
  <p class="card__description">
    {{info.description}}
  </p>

  <button class="button --primary">
    <p class="button__name">Read more</p>
    <svg class="button__icon" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.66905 2.27614L1.93133 8.01387L0.988525 7.07107L6.72625 1.33333H1.66907V0H9.00239V7.33333H7.66905V2.27614Z"/>
    </svg>
  </button>

</article>
