<section class="info-board --flex --jc-s-between --f-wrap-r --bs-b-box --ii-center">

    <article class="info-board__information-cont --flex --jc-center --ii-center --bs-b-box">

      <section class="info-board__information-sub-cont --flex --fd-column --bs-b-box">
        <h2 class="info-board__information-title --bs-b-box">
          Greenspec Smart Greenhouse Management: Efficient, Sustainable, and Automated
        </h2>
        <p class="info-board__information-desc --bs-b-box">
          Optimize growing conditions while reducing environmental impact. Our management system solutions help growers <strong>reduce water and energy usage</strong>, enhance resource efficiency, and promote sustainable agriculture.
          <br><br>
          With <strong>automated greenhouse management</strong>, you can cultivate healthier crops while preserving natural resources.
        </p>
        <button class="info-board__button --flex --jc-center --ii-center --bs-b-box" >
          Explore our solutions
        </button>
      </section>

    </article>

    <article class="info-board__img-cont --bs-b-box">
      <img class="info-board__img --bs-b-box"  alt="" class="info-board__img">
    </article>
</section>
