<section class="banner">
  <h1 class="banner__title">
    Transforming Horticulture with <span class="--light">Smart Automation</span>
  </h1>
  <p class="banner__subtitle">Discover the power of instant data access, precision control, and seamless connectivity for modern greenhouse management</p>
  <button class="button">
    <p class="button__text">Get Started Today</p>
    <svg class="button__icon-cont" xmlns="http://www.w3.org/2000/svg">
      <path class="button__icon"
      d="M7.66911 2.27614L1.93139 8.01387L0.988586 7.07107L6.72631 1.33333H1.66913V0H9.00245V7.33333H7.66911V2.27614Z"/>
    </svg>
  </button>
</section>
